- 데이터프레임에서 특정한 데이터만 골라내는 것을 인덱싱(indexing)이라고 한다. 
- pandas의 특별한 인덱서(indexer) 속성
- loc : 라벨값 기반의 2차원 인덱싱
- iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱

### loc 인덱서
- df.loc[행 인덱싱값]
- df.loc[행 인덱싱값, 열 인덱싱값]

In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame(np.arange(10,22).reshape(3,4),
                 index=['a','b','c'],
                 columns=['A','B','C','D'])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

#### 인덱싱값을 하나만 받는 경우
- loc 인덱서를 사용하면서 인덱스를 하나만 넣으면 행(row)을 선택한다.

In [6]:
df.loc['a'] #시리즈를 상하로 길게 출력

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [7]:
df.loc['b':'c']

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [8]:
df['b':'c']

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [10]:
df.loc[['b','c']]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [11]:
df[['b','c']]

KeyError: "None of [Index(['b', 'c'], dtype='object')] are in the [columns]"

In [12]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [13]:
df.loc[df.A>15]

    A   B   C   D
c  18  19  20  21

In [14]:
def select_rows(df):
    return df.A>15  # 인덱스 대신 인덱스 값을 반환하는 함수를 사용

In [15]:
select_rows(df)

a    False
b    False
c     True
Name: A, dtype: bool

In [16]:
df.loc[select_rows(df)]

    A   B   C   D
c  18  19  20  21

In [17]:
# df.loc['A'] -> KeyError
# df.loc[['A', 'B']] -> KeyError

In [18]:
df2 = pd.DataFrame(np.arange(10,26).reshape(4,4), columns=['A','B','C','D'])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [19]:
df2.loc[1:2] # 라벨 슬라이싱 방식을 따름. 즉, 슬라이스의 마지막 값이 포함됨

    A   B   C   D
1  14  15  16  17
2  18  19  20  21

#### 인덱싱값을 행과 열 모두 받는 경우
- df.loc[행 인덱스, 열 인덱스]

In [20]:
df.loc['a','A']

10

In [21]:
df.loc['b':,'A']

b    14
c    18
Name: A, dtype: int32

In [22]:
df.loc['a',:]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [23]:
df.loc[['a','b'],['B','D']]

    B   D
a  11  13
b  15  17

In [24]:
df.loc[df.A>10,["C","D"]]

    C   D
b  16  17
c  20  21

### iloc 인덱서
- iloc 인덱서는 loc 인덱서와 반대로 라벨이 아니라 순서를 나타내는 정수 인덱스만 받는다.

In [26]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [25]:
df.iloc[0,1]

11

In [27]:
df.iloc[:2,2]

a    12
b    16
Name: C, dtype: int32

In [28]:
df.iloc[0,-2:]

C    12
D    13
Name: a, dtype: int32

In [29]:
df.iloc[2:3,1:3]

    B   C
c  19  20

In [30]:
df.iloc[-1]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [31]:
df.iloc[-1] = df.iloc[-1]*2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42