### DatetimeIndex
- 판다스에서 시계열 자료를 생성하기 위해서는 인덱스를 DatetimeIndex 자료형으로 만들어야 한다. DatetimeIndex는 특정한 순간에 기록된 타임스탬프 형식의 시계열 자료를 다루기 위한 인덱스이다. 타임스탬프 인덱스의 라벨값이 반드시 일정한 간격일 필요는 없다.


- pd.to_datetime : 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 바꾼 후 DatetimeIndex 자료형 인덱스를 생성한다.
- pd.date_range : 시작일과 종료일 또는 시작일과 기간을 입력하면 범위 내의 인덱스를 생성해 준다.

In [1]:
import numpy as np
import pandas as pd

In [2]:
date_str = ['2018, 1, 1', '2018, 1, 4', '2018, 1, 5', '2018, 1, 6']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [3]:
np.random.seed(0)
s = pd.Series(np.random.randn(4), index=idx) # 인덱스를 사용하여 시리즈나 데이터프레임을 생성
s

2018-01-01    1.764052
2018-01-04    0.400157
2018-01-05    0.978738
2018-01-06    2.240893
dtype: float64

In [4]:
pd.date_range('2018-4-1', '2018-4-30')

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

In [5]:
pd.date_range(start='2018-4-1', periods=30)

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

#### freq 인수로 특정한 날짜만 생성되도록 하기
- s: 초
- T: 분
- H: 시간
- D: 일(day)
- B: 주말이 아닌 평일
- W: 주(일요일)
- W-MON: 주(월요일)
- M: 각 달(month)의 마지막 날
- MS: 각 달의 첫날
- BM: 주말이 아닌 평일 중에서 각 달의 마지막 날
- BMS: 주말이 아닌 평일 중에서 각 달의 첫날
- WOM-2THU: 각 달의 두번째 목요일
- Q-JAN: 각 분기의 첫달의 마지막 날
- Q-DEC: 각 분기의 마지막 달의 마지막 날

In [6]:
pd.date_range('2018-4-1','2018-4-30',freq='B')

DatetimeIndex(['2018-04-02', '2018-04-03', '2018-04-04', '2018-04-05',
               '2018-04-06', '2018-04-09', '2018-04-10', '2018-04-11',
               '2018-04-12', '2018-04-13', '2018-04-16', '2018-04-17',
               '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23',
               '2018-04-24', '2018-04-25', '2018-04-26', '2018-04-27',
               '2018-04-30'],
              dtype='datetime64[ns]', freq='B')

In [7]:
pd.date_range('2018-1-1','2018-12-31',freq='w')

DatetimeIndex(['2018-01-07', '2018-01-14', '2018-01-21', '2018-01-28',
               '2018-02-04', '2018-02-11', '2018-02-18', '2018-02-25',
               '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25',
               '2018-04-01', '2018-04-08', '2018-04-15', '2018-04-22',
               '2018-04-29', '2018-05-06', '2018-05-13', '2018-05-20',
               '2018-05-27', '2018-06-03', '2018-06-10', '2018-06-17',
               '2018-06-24', '2018-07-01', '2018-07-08', '2018-07-15',
               '2018-07-22', '2018-07-29', '2018-08-05', '2018-08-12',
               '2018-08-19', '2018-08-26', '2018-09-02', '2018-09-09',
               '2018-09-16', '2018-09-23', '2018-09-30', '2018-10-07',
               '2018-10-14', '2018-10-21', '2018-10-28', '2018-11-04',
               '2018-11-11', '2018-11-18', '2018-11-25', '2018-12-02',
               '2018-12-09', '2018-12-16', '2018-12-23', '2018-12-30'],
              dtype='datetime64[ns]', freq='W-SUN')

### shift 연산
- 인덱스는 그대로 두고 데이터만 이동

In [8]:
np.random.seed(0)
ts = pd.Series(np.random.randn(4), index=pd.date_range(
    '2018-1-1', periods=4, freq='m'))
ts

2018-01-31    1.764052
2018-02-28    0.400157
2018-03-31    0.978738
2018-04-30    2.240893
Freq: M, dtype: float64

In [9]:
ts.shift(1)

2018-01-31         NaN
2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
Freq: M, dtype: float64

In [10]:
ts.shift(-1)

2018-01-31    0.400157
2018-02-28    0.978738
2018-03-31    2.240893
2018-04-30         NaN
Freq: M, dtype: float64

In [11]:
ts.shift(1, freq='m')

2018-02-28    1.764052
2018-03-31    0.400157
2018-04-30    0.978738
2018-05-31    2.240893
Freq: M, dtype: float64

In [12]:
ts.shift(1, freq='w')

2018-02-04    1.764052
2018-03-04    0.400157
2018-04-01    0.978738
2018-05-06    2.240893
dtype: float64

### resample 연산
- 시간 간격을 재조정하는 resampling이 가능하다. 이때 시간 구간이 작아지면 데이터 양이 증가한다고 해서 up-sampling이라 하고 시간 구간이 커지면 데이터 양이 감소한다고 해서 down-sampling이라 부른다.

In [14]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    '2018-1-1', periods=100, freq='d'))
ts.tail(20)

2018-03-22    0.625231
2018-03-23   -1.602058
2018-03-24   -1.104383
2018-03-25    0.052165
2018-03-26   -0.739563
2018-03-27    1.543015
2018-03-28   -1.292857
2018-03-29    0.267051
2018-03-30   -0.039283
2018-03-31   -1.168093
2018-04-01    0.523277
2018-04-02   -0.171546
2018-04-03    0.771791
2018-04-04    0.823504
2018-04-05    2.163236
2018-04-06    1.336528
2018-04-07   -0.369182
2018-04-08   -0.239379
2018-04-09    1.099660
2018-04-10    0.655264
Freq: D, dtype: float64

- 다운-샘플링의 경우에는 원래의 데이터가 그룹으로 묶이기 때문에 그룹바이(groupby)때와 같이 그룹 연산을 해서 대표값을 구해야 한다.

In [15]:
ts.resample('w').mean()

2018-01-07    0.697206
2018-01-14    0.468797
2018-01-21    0.249052
2018-01-28    0.301938
2018-02-04    0.023198
2018-02-11    0.283486
2018-02-18   -0.096136
2018-02-25   -0.446708
2018-03-04    0.155312
2018-03-11    0.200799
2018-03-18   -0.376808
2018-03-25   -0.895860
2018-04-01   -0.129493
2018-04-08    0.616422
2018-04-15    0.877462
Freq: W-SUN, dtype: float64

In [16]:
ts.resample('m').first()

2018-01-31   -1.173123
2018-02-28    0.676433
2018-03-31    0.087551
2018-04-30    0.523277
Freq: M, dtype: float64

- 날짜가 아닌 시/분 단위에서는 구간위 왼쪽 한계값(가장 빠른 값)은 포함하고 오른쪽 한계값(가장 늦은 값)은 포함하지 않는다. 즉, 가장 늦은 값은 다음 구간에 포함된다.

In [17]:
ts = pd.Series(np.random.randn(60), index=pd.date_range(
    '2018-1-1', periods=60, freq='T'))
ts.head(20)

2018-01-01 00:00:00    0.640132
2018-01-01 00:01:00   -1.616956
2018-01-01 00:02:00   -0.024326
2018-01-01 00:03:00   -0.738031
2018-01-01 00:04:00    0.279925
2018-01-01 00:05:00   -0.098150
2018-01-01 00:06:00    0.910179
2018-01-01 00:07:00    0.317218
2018-01-01 00:08:00    0.786328
2018-01-01 00:09:00   -0.466419
2018-01-01 00:10:00   -0.944446
2018-01-01 00:11:00   -0.410050
2018-01-01 00:12:00   -0.017020
2018-01-01 00:13:00    0.379152
2018-01-01 00:14:00    2.259309
2018-01-01 00:15:00   -0.042257
2018-01-01 00:16:00   -0.955945
2018-01-01 00:17:00   -0.345982
2018-01-01 00:18:00   -0.463596
2018-01-01 00:19:00    0.481481
Freq: T, dtype: float64

In [18]:
ts.resample('10T').sum()

2018-01-01 00:00:00   -0.010101
2018-01-01 00:10:00   -0.059354
2018-01-01 00:20:00   -3.968277
2018-01-01 00:30:00   -1.312698
2018-01-01 00:40:00   -2.264954
2018-01-01 00:50:00   -4.039789
Freq: 10T, dtype: float64

- 왼쪽이 아니라 오른쪽 한계값을 구간에 포함 할때 closed='right'

In [19]:
ts.resample('10T', closed='right').sum()

2017-12-31 23:50:00    0.640132
2018-01-01 00:00:00   -1.594679
2018-01-01 00:10:00   -0.655705
2018-01-01 00:20:00   -3.583663
2018-01-01 00:30:00   -0.465529
2018-01-01 00:40:00   -1.264402
2018-01-01 00:50:00   -4.731328
Freq: 10T, dtype: float64

In [20]:
ts.resample('5T').ohlc() # open, highm low, close 값

                         open      high       low     close
2018-01-01 00:00:00  0.640132  0.640132 -1.616956  0.279925
2018-01-01 00:05:00 -0.098150  0.910179 -0.466419 -0.466419
2018-01-01 00:10:00 -0.944446  2.259309 -0.944446  2.259309
2018-01-01 00:15:00 -0.042257  0.481481 -0.955945  0.481481
2018-01-01 00:20:00 -1.540797  0.232181 -1.540797 -0.597316
2018-01-01 00:25:00 -0.237922  0.416050 -1.424061  0.416050
2018-01-01 00:30:00 -1.156182  1.494485 -2.069985  0.426259
2018-01-01 00:35:00  0.676908  0.676908 -0.637437 -0.297791
2018-01-01 00:40:00 -0.309013  1.152332 -1.676004 -0.813364
2018-01-01 00:45:00 -1.466424  0.521065 -1.466424 -0.319328
2018-01-01 00:50:00  0.691539  0.694749 -1.582938 -1.582938
2018-01-01 00:55:00  0.610379  0.610379 -1.188859 -0.052567

- 업-샘플링의 경우에는 실제로 존재하지 않는 데이터를 만들어야 한다. 이 대는 앞에서 나온 데이터를 뒤에서 그대로 쓰는 forward filling 방식과 뒤에서 나올 데이터를 앞에서 미리 쓰는 backward filling 방식을 사용할 수 있다.

In [21]:
ts.resample('30s').ffill().head(20)

2018-01-01 00:00:00    0.640132
2018-01-01 00:00:30    0.640132
2018-01-01 00:01:00   -1.616956
2018-01-01 00:01:30   -1.616956
2018-01-01 00:02:00   -0.024326
2018-01-01 00:02:30   -0.024326
2018-01-01 00:03:00   -0.738031
2018-01-01 00:03:30   -0.738031
2018-01-01 00:04:00    0.279925
2018-01-01 00:04:30    0.279925
2018-01-01 00:05:00   -0.098150
2018-01-01 00:05:30   -0.098150
2018-01-01 00:06:00    0.910179
2018-01-01 00:06:30    0.910179
2018-01-01 00:07:00    0.317218
2018-01-01 00:07:30    0.317218
2018-01-01 00:08:00    0.786328
2018-01-01 00:08:30    0.786328
2018-01-01 00:09:00   -0.466419
2018-01-01 00:09:30   -0.466419
Freq: 30S, dtype: float64

In [22]:
ts.resample('30s').bfill().head(20)

2018-01-01 00:00:00    0.640132
2018-01-01 00:00:30   -1.616956
2018-01-01 00:01:00   -1.616956
2018-01-01 00:01:30   -0.024326
2018-01-01 00:02:00   -0.024326
2018-01-01 00:02:30   -0.738031
2018-01-01 00:03:00   -0.738031
2018-01-01 00:03:30    0.279925
2018-01-01 00:04:00    0.279925
2018-01-01 00:04:30   -0.098150
2018-01-01 00:05:00   -0.098150
2018-01-01 00:05:30    0.910179
2018-01-01 00:06:00    0.910179
2018-01-01 00:06:30    0.317218
2018-01-01 00:07:00    0.317218
2018-01-01 00:07:30    0.786328
2018-01-01 00:08:00    0.786328
2018-01-01 00:08:30   -0.466419
2018-01-01 00:09:00   -0.466419
2018-01-01 00:09:30   -0.944446
Freq: 30S, dtype: float64

### dt 접근자
- datetime 자료형 시리즈에는 dt 접근자가 있어 datetime 자료형이 가진 몇 가지 유용한 속성과 메서드를 사용할 수 있다.

In [23]:
s = pd.Series(pd.date_range('2020-12-25', periods=100, freq='d'))
s

0    2020-12-25
1    2020-12-26
2    2020-12-27
3    2020-12-28
4    2020-12-29
        ...
95   2021-03-30
96   2021-03-31
97   2021-04-01
98   2021-04-02
99   2021-04-03
Length: 100, dtype: datetime64[ns]

In [24]:
s.dt.year

0     2020
1     2020
2     2020
3     2020
4     2020
      ...
95    2021
96    2021
97    2021
98    2021
99    2021
Length: 100, dtype: int64

In [25]:
s.dt.weekday # 0 : 월요일

0     4
1     5
2     6
3     0
4     1
     ..
95    1
96    2
97    3
98    4
99    5
Length: 100, dtype: int64

In [27]:
s.dt.strftime('%Y년 %m월 %d일') # 문자열 만들기

0     2020년 12월 25일
1     2020년 12월 26일
2     2020년 12월 27일
3     2020년 12월 28일
4     2020년 12월 29일
          ...
95    2021년 03월 30일
96    2021년 03월 31일
97    2021년 04월 01일
98    2021년 04월 02일
99    2021년 04월 03일
Length: 100, dtype: object