In [2]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [3]:
np.random.seed(0)
df1 = pd.DataFrame(np.random.randn(100,3),
                  index=pd.date_range('1/1/2018', periods=100),
                  columns=['A','B','C']).cumsum()
df1.tail()

                    A          B          C
2018-04-06   9.396256   6.282026 -11.198087
2018-04-07  10.086074   7.583872 -11.826175
2018-04-08   9.605047   9.887789 -12.886190
2018-04-09   9.469097  11.024680 -12.788465
2018-04-10  10.052051  10.625231 -12.418409

In [ ]:
df1.plot()
plt.title('Pandas의 ㅔ')